* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}

header {
  margin-top: 50px;
  height: 50px;
  position: sticky;
  top: 50px;
}

header div {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  justify-content: space-between;
  line-height: 50px;
}

header div img {
  width: 45px;
}

header div p {
  font-size: 25px;
  font-weight: 600;
}

main .h1 {
  margin-top: 100px;
  margin-right: 7%;
  margin-left: 7%;
  font-size: 65px;
  font-weight: 450;
}
main .nav ul {
  display: flex;
  margin-left: 7%;
  margin-top: 100px;
}

main .nav ul li a {
  margin-right: 25px;
  color: #444;
  font-size: 20px;
  font-weight: 450;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  flex-wrap: wrap;
  margin-top: 50px;
}

footer div {
  width: 32%;
  padding-bottom: 25px;
  display: inline;
}

footer div img {
  width: 100%;
  padding-bottom: 20px;
}

main .nav a {
  position: relative;
}

main .nav a:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: black;
  height: 1px;
  transition: 0.5s;
}

main .nav a:hover:after {
  width: 100%;
}

main .nav .dp:after {
  width: 100%;
}

header ul {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 80%;
  padding-top: 150px;
  position: fixed;
  top: -50px;
  z-index: -1;
  left: -100%;
  transition: 0.5s;
}

header ul li a {
  color: white;
  font-size: 36px;
}

#check:checked ~ ul {
  left: 0;
}

header input {
  display: none;
}

header div ul li a {
  position: relative;
}

header div ul li a:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 1px;
  transition: 0.5s;
}

header div ul li a:hover:after {
  width: 100%;
}
