.chua img{
    margin: 10% auto;
    width: 30%;
    height: 300px;
}
/* .chua{
    position: relative;
} */
#back, #next{
    position: fixed;
    bottom: 55%;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.chua #next{
    left: 29%;
}