@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@600&family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --para: #333333;
  --all: #101820;
  --btn: #ff1a8c;
  
}

.service_section {
  width: 100%;
  height: auto;
  background-image: url("https://i.pinimg.com/564x/1a/e9/e3/1ae9e3868d9dc9fa2e3193d980ec6878.jpg");
  padding: 90px 10%;
}

.service_section .service_heading {
  font-size: 21px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 30px;
}
.service_section .service_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.service_container .service_card {
  padding: 35px 30px;
  border: 2px solid rgba(51, 51, 51, 0.091);
  border-radius: 10px;
  box-shadow: -5px 5px 21px rgba(51, 51, 51, 0.103);
  cursor: pointer;
  transition: 0.5s;
}
.service_card i {
  font-size: 25px;
  transition: 0.5s;
}
.service_card h4 {
  font-size: 17px;
  margin: 7px 0 5px 0;
  transition: 0.5s;
}
.service_card p {
  font-size: 14px;
  line-height: 23px;
  color: var(--para);
}
.service_card:hover {
  box-shadow: -18px 15px 34px rgba(51, 51, 51, 0.103);
  transform: translateY(-2px);
}
.service_card:hover i,
.service_card:hover h4 {
  color: var(--btn);
}
@media only screen and (min-width: 860px) and (max-width: 1060px) {
  .service_section {
    padding: 90px 5%;
  }
  .service_section .service_container {
    grid-gap: 50px 40px;
  }
}
@media only screen and (max-width: 860px) {
  .service_section .service_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 620px) {
  .service_section .service_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
